@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div id="templatemo_content" style="min-height: 400px">

    <h2><strong>311 Web Application Technology Semester Project</strong> </h2>

    <p>
        <h3>Informations</h3>
        <h4>Yıldırım Beyazıt University Computer Engineering Department</h4>
        <h4>Serdar GÜÇLÜER   ///   1105011019   ///   I. Section</h4>
        <h4>Email Addresses:<br>==> serdar051051@gmail.com<br>==> serdar_gucluer_051@hotmail.com</h4>

    </p>

</div>